.header-container {
  display: flex;
  justify-content: space-between;
}

.agg-container {
  background-color: var(--container);
  padding: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.relative-container {
  position: relative;
}

.medicine-container {
  display: flex;
  gap: 10px;
  align-items: center;
  flex-wrap: wrap;
}

.flex-1 {
  flex: 1;
  min-width: 200px;
}

.add-medicine-btn {
  width: 96%;
  margin-top: 6px;
  border: none;
  padding: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 6px;
  cursor: pointer;
  background-color: var(--primary);
  color: var(--text-on-dark);
}

.save-btn-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 20px;
}

.inventory-summary {
  background-color: var(--container);
  padding: 10px;
  display: flex;
  border-radius: 10px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.filter-container {
  background-color: var(--container);
  padding: 10px;
  border-radius: 10px;
  justify-content: space-between;
}

.error {
  color: var(--text-error);
  font-size: 12px;
}

.input {
  display: flex;
  justify-content: end;
  gap: 10px;
}

.title {
  opacity: 0.6;
  gap: 50px;
  color: var(--text-secondary);
}

.title-content {
  display: flex;
  align-items: center;
}

.spacer {
  width: 50%;
}

.name-column {
  width: 25%;
}

.gm-column {
  width: 15%;
}

.med-column {
  width: 15%;
}

.date-column {
  width: 15%;
}

.quantity-column {
  width: 15%;
}

.actions-column-inventory {
  width: 15%;
  display: flex;
  justify-content: end;
}

@media (max-width: 768px) {
  .medicine-container {
    flex-direction: column;
  }

  .inventory-summary {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .filter-container {
    flex-direction: column;
    align-items: center;
  }
}
