.table-container {
  width: 100%;
  margin: 20px 0;
  overflow-x: auto; /* Añadir scroll horizontal para tablas grandes */
}

.table {
  width: 100%;
  border: 1px solid var(--border);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  min-width: 600px; /* Asegurar un ancho mínimo para la tabla */
}

.table th, .table td {
  padding: 12px 16px;
  text-align: left;
  border-bottom: 1px solid var(--border);
}

.table th {
  background-color: var(--background);
  font-weight: 600;
  color: var(--text-primary);
}

.table td {
  background-color: var(--container);
  color: var(--text-secondary);
}

.table tr:last-child td {
  border-bottom: none;
}

.status-circle {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 8px;
}

.status-disponible {
  background-color: var(--status-disponible);
}

.status-espera {
  background-color: var(--status-espera);
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
  .table-container {
    overflow-x: auto; /* Añadir scroll horizontal para dispositivos móviles */
  }

  .table th, .table td {
    padding: 8px 12px; /* Reducir el padding en dispositivos móviles */
  }

  .table th {
    font-size: 14px; /* Reducir el tamaño de fuente en dispositivos móviles */
  }

  .table td {
    font-size: 14px; /* Reducir el tamaño de fuente en dispositivos móviles */
  }
}
