.containerPassword {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--background);
}

.cardPassword {
  background-color: var(--container);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 100%;
  max-width: 400px;
}

.titlePassword {
  font-size: 24px;
  margin-bottom: 20px;
  color: var(--text-primary);
}

.errorPassword {
  color: var(--text-error);
  margin-top: 10px;
}

.successPassword {
  color: var(--text-success);
  font-size: 18px;
  margin-bottom: 20px;
}
